.center
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.uppercontainer
{
    display:flex;
    height:15%;
    width: 60%;
    background-color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.lowercontainer
{
    height: 85%;
    width: 60%;
    background-color: lightgrey;
    padding-left: 10px;
    padding-right: 10px;
}

.halfblock
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1%; 
}

.items
{
    display: flex;
    align-self: flex-start;
    width: 49%;
    padding-bottom: 10px;
    padding-right: 1%;
    font-size: medium;
}


.radiobuttons
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.freespace
{
    display: flex;
    align-self: flex-start;
    width: 100%;
    padding-bottom: 30px;
}

.inputresize
{
    display: flex;
    float: left;
    width: 80%;
}

.textarearesize
{
    width: 100%;
    height: 175px;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0;
}

.radiocontainer {
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
}

.radiocontainer input,
.radiocontainer label {
    margin: 0;
}

.radiocontainer input {
    width: 5%;
}

.radiocontainer label {
    width: calc(100% - 5%);
}

.heading
{
    font-size: large;
    color:darkred;
    font-weight: bold;
}

.submit-button
{
    width: 25%;
    height:50%;
    background: linear-gradient(#000000, #575757);
    color: white;
    text-align: center;
    font-size: 16px;
}

.centerdiv
{
    display: flex;
    justify-content: center;
}